--extra-index-url https://download.pytorch.org/whl/cu128

# PyTorch for RTX 50-series / CUDA 12.8
torch==2.8.0
torchvision==0.23.0
torchaudio==2.8.0

# Scientific and Image Processing
numpy==1.24.4
scipy==1.10.1
pandas==2.0.3
pillow
matplotlib
scikit-learn
tqdm

# Deep Learning specific
timm==0.9.12
transformers==4.36.2

# Other utilities
opencv-python
imageio
open3d==0.18.0
tensorboardX
ptflops
thop
pytorch-wavelets
seaborn
setuptools==81.0.0
PyWaveLets==1.8.0
